body {
    background-color: white;
}


input {
    background-color: darkgray
}

button {
    background-color: rgb(153, 153, 153);
}

button:hover {
    background-color: rgb(119, 119, 119);
}

input:hover {
    background-color: rgb(119, 119, 119);
}